<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/public/javascripts/qrcode/jquery.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/qrcode/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/public/javascripts/qrcode/qrcode.js"></script>
    <title>loona ios ipa server</title>
</head>
<body>
    <h3>Open <a href='https://{{ip}}:{{port}}/download'>https://{{ip}}:{{port}}/download</a> in mobile Safari or scan QR code below:</h3>
    <div id="qrcodeTable"></div>
    <p>
		Before first install you should <a id='cer' href="https://{{ip}}:{{port}}/cer/myCA.cer"><b>Donwload</b></a>, <b>Install</b> and <b>Trust</b> our self signed Certificates<br/>
		<br/>
		For <b>Install</b> - go to the:<br/> Settings > General > Profile > ios-ipa-server... > [Install]
		<br/><br/>
		For <b>Trust</b> - go to the:<br/> Settings > About > Certificate Trust Settings > ios-ipa-server... > [check]
		<br/>
    </p>
	</hr>
    <h3>
        IPA LIST:
    </h3>
	</hr>
    <ul>
        {{#items}}
        <li>
        	<img src="{{iconString}}" class="icon" />
        	<div class="info">
        		<span class="name">{{name}}</span>
        		<div class="desc">{{description}}</div>
        		<div class="desc">{{timeString}}</div>
        	</div>
            <a href="itms-services://?action=download-manifest&url=https://{{ip}}:{{port}}/plist/{{encodedName}}" class="link">Install</a>
        </li>
        <hr/>
        {{/items}}
    </ul>
    <script>
    	var url = location.href;
    	$('#qrcodeTable').qrcode({
    		render	: "table",
    		text	: url
    	});
    </script>
</body>
</html>
